@charset "UTF-8";

#listbox{
	 display : block;
	 width   : 100%;
	}
	
.show{
	display : block;
	margin : 0;
	float : left;
	width : 300px;
	list-style : none;
	paddind : 0.5em 1em;
	height : 300px;
	text-decoration : none; 
}

.tea{
	display : block;
	width : 120px;
	height : 120px;
	background-size : cover;
	list-style : none;
}


