@charset "UTF-8";

body {
    transition: all 1s;
}
 
.bodyfadeout {
    opacity: 0;
}
 
button {
    img : url(../img/tea_header_logo.png);
    width : 100px; 
    height :100px;
}
 
.anime2 {
    animation: animemove2 2s linear forwards;
}
 
@keyframes animemove2 {
    0% {
transform: rotateY(180deg);
    }
    10% {
transform: rotateY(360deg) translate(0, 10vh);
    }
    20% {
transform: rotateY(0) translate(0, 20vh);
    }
    30% {
transform: rotateY(360deg) translate(0, 35vh);
    }
    40% {
transform: rotateY(0) translate(0, 50vh);
    }
    50% {
transform: rotateY(360deg) translate(0, 75vh);
    }
    60% {
transform: rotateY(0) translate(0, 90vh);
    }
    70% {
transform: rotateY(360deg) translate(0, 105vh);
    }
    100% {
transform: rotateY(0) translate(0, 120vh);
    }
}

