@charset "UTF-8";
.kakusu {
    display: none;
}
.btn1 {
    border: 1px solid #f9f21a;
    background-color: aqua;
    border-radius: 5px;
    padding: 0.5rem;
}
.btn2 {
    border: 3px solid #ccc;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.conten {
    border: 3px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: azure;
}